/* footer */

.footer-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-top: calc(var(--section-spacing) / 2);
    padding-top: calc(var(--section-spacing) / 2); /* fix for auto height */
    background-color: transparent;
    display: flex;
    flex-direction: column;
    overflow: clip;
    justify-content: flex-end;
}

#footer-gradient-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

#footer-canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.marquee-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.marquee-bar {
    width: 100%;
    overflow: hidden;
    padding: var(--space-12) 0;
    margin-top: var(--space-8);
    white-space: nowrap;
    display: flex;
    background-color: var(--color-accent);
    flex-direction: row; 
    overflow-anchor: none;
}

.marquee-content { 
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 0px; 
    transform: translateX(0);
    will-change: transform;
}

.marquee-content.has-seamless-animation {
    animation: seamless-scroll var(--marquee-duration) linear infinite;
}

.marquee-content.marquee-reverse.has-seamless-animation {
    animation-direction: reverse;
}

.marquee-content.marquee-reverse .arrow {
    transform: scaleX(-1);
}

/* vvv come back to this, not working how i want >:( */
/* .marquee-content.has-seamless-animation:hover {
    animation: seamless-scroll calc(var(--marquee-duration) * 2) linear infinite;
} */

@keyframes seamless-scroll {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
}

.marquee-item {
    padding: 0 var(--space-40);
}

.marquee-item.arrow{
    height: calc(7 / 1920 * 100vw);
}

.footer-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    margin-top: var(--space-8);
    position: relative;
    z-index: 1;
    padding-left: var(--space-20);
    padding-right: var(--space-20);
    box-sizing: border-box;
}

.footer-main .type-display-hero {
    display: block;        
    width: 100%;
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    overflow: visible;
    padding-bottom: var(--space-20);
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    padding: 0 var(--space-20);
    margin-bottom: var(--space-32);
}

.footer-link a {
    text-decoration: none;
    margin-bottom: 0; 
    line-height: var(--lh-single); 
}

@media (max-width: 768px) {
    .footer-main .type-display-hero > span {
        display: block;
    }
    .footer-main .type-display-hero > span .char-reveal {
        display: inline-block;
    }
}
