/* nav */

.sticky-nav {
    position: fixed;
    top: 10px;
    left: 20px;
    right: 20px;
    
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: stretch;
    z-index: 1000;
    pointer-events: none;
}

.nav-left,
.nav-center,
.nav-right {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 100px;
    pointer-events: auto;
    transition: background 0.3s ease;
}

.nav-center { 
    display: flex;
    justify-self: center;
    justify-content: center;
    gap: 32px; 
    align-items: center;
    padding: 7px 20px;
}

.nav-left {
    display: flex;
    justify-self: start;
    padding: 7px 12px;
}

.nav-right {
    display: flex;
    justify-self: end;
    align-items: center;
    padding: 7px 20px;
}

.nav-logo {
    width: 30px; 
    height: 30px;
    display: block;
}

.sticky-nav a {
    color: var(--color-text-main);
    text-decoration: none;
}

@media (max-width: 768px) {
    .nav-center {
        gap: 16px;
    }
}