/* =========================================
    PAGE SPECIFIC STYLES
    ========================================= */

.mission-section {
    background-color: var(--color-bg); 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px; 
}