/* =========================================
   MISSION SECTION (Director Mode)
   ========================================= */

.mission-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: var(--space-for-nav) 20px 0px 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    transition: opacity 0.8s ease;
}

.mission-section.is-active {
    opacity: 1;
    pointer-events: auto;
}

/* Ensure text doesn't span too wide */
.mission-section .type-display-hero {
    font-size: 7vw;
    width: 100%;
    margin: 0 auto;
}

.mission-section .word-wrapper {
    display: inline-block;
    overflow: hidden;
    
    line-height: 1.0;
    
    vertical-align: bottom; 
    
    padding: 0;
    margin: 0;
}

.mission-section .text-mask{
    margin-bottom: var(--standard-margin);
}