/* hero */

.hero {
    height: 100vh; 
    width: 100%;
    position: relative;
    z-index: 1; 
    pointer-events: none;
}

.hero .type-display-hero {
    width: 100%;
    text-align: center;
    z-index: 0;

    position: absolute;
    top: auto;
    bottom: var(--padding-3);

    left: 50%;
    overflow: visible;
    transform: translateX(-50%);
}